ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FCD8B4;
    align-items: center;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #D06137;
}

li a:hover {
    color: #D06137;
    text-decoration: underline wavy white;
}

.container-fluid {
    background-color: #FCD8B4;
}

#headerNav {
    background-color: #FCD8B4;
}