ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAC19C;
    align-items: center;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    text-emphasis-color: red;
}
li a:hover {
    color: #D06137;
    text-decoration: underline wavy #C6D73D;
}

.container-fluid{
    background-color: #FAC19C;
}
#headerNav{
    background-color: #FAC19C;
}


