<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2 class="page-title">{{name}}</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/paquetes">Paquete</a></li>
                <li class="breadcrumb-item active">Paquete {{name}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-padding-02">
    <div class="container">
        <div class="courses-details-wrapper">
            <div class="row gx-xxl-5">
                <div class="col-lg-8">
                    <div class="courses-details">
                        <div class="courses-details-images">
                            <img src="assets/images/courses/courses-details.jpg" alt="Courses Details">
                        </div>
                        <div class="courses-details-tab">
                            <div class="details-tab-menu">
                                <ul class="nav justify-content-center">
                                    <h3 class="footer-widget-title">¿Qué incluye?</h3>
                                </ul>
                                <div class="details-tab-content">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="description">
                                            <div class="tab-description">
                                                <div let class="description-wrapper">
                                                    <p align="justify">
                                                    </p>
                                                </div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar-widget widget-information">
                            <div class="info-price">
                                <span class="price">$400.00</span>
                            </div>
                            <div class="info-list">
                                <ul>
                                    <li><i class="icofont-clock-time"></i> <strong>Duracion</strong> <span>1 hr 15 mins</span></li>
                                    <li><i class="icofont-location-pin"></i> <strong>Instructor</strong> <span>Pamela Foster</span></li>
                                    <li><i class="icofont-ui-video-play"></i> <strong>Lectures</strong> <span>29</span></li>
                                    <li><i class="icofont-bars"></i> <strong>Level</strong> <span>Secondary</span></li>
                                    <li><i class="icofont-book-alt"></i> <strong>Language</strong> <span>English</span></li>
                                    <li><i class="icofont-certificate-alt-1"></i> <strong>Certificate</strong> <span>Yes</span></li>
                                </ul>
                            </div>
                            <div class="info-btn">
                                <a href="contacto.html" class="btn btn-secondary btn-hover-primary">Contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar">
                        <div class="sidebar-widget widget-information">
                            <div class="info-price">
                                <span class="price">
                                    NOTAS IMPORTANTES 
                                </span>
                            </div>
                            <ul>
                                <p>Si tu consulta es presencial:</p>
                                <li>
                                    <p align="justify"> Procura llevar ropa cómoda en cada consulta, que no sea holgada, (short y top de ejercicio).</p>
                                    <p align="justify"> Si tienes análisis de sangre no mayores a 3 meses, puedes llevarme una copia o tomarles foto para poder compartírmelos.</p>
                                    <p align="justify"> Si tomas algún medicamento o multivitamínico, anota sus nombres, la dosis y la frecuencia con la que lo consumes y llévalo a la consulta. </p>
                                    <p align="justify"> Si vives con diabetes o hipertensión lleva tu diario de glucosas/presión.</p>
                                </li>
                            </ul><br>
                            <ul>
                                <p>Si tu consulta es a distancia:</p>
                                <li>
                                    <p align="justify"> Procura tener tu peso y tu estatura más reciente (no mayor a 5 días programada la consulta).</p>
                                    <p align="justify"> Si tienes análisis de sangre no mayores a 3 meses, puedes escanearlos o tomarles foto para poder compartírmelos, de preferencia enviarlos antes de la consulta. </p>
                                    <p align="justify"> Si tomas algún medicamento o multivitamínico, anota sus nombres, la dosis y la frecuencia con la que lo consumes y tenlos a la mano para el día de la consulta.</p>
                                    <p align="justify"> Si vives con diabetes o hipertensión ten cerca tu diario de glucosas/presión.</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="sidebar-widget align-items-center">
                    <h4 class="widget-title">Compartir:</h4>

                    <ul class="social">
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>