<div class="section st-img1">
    <div class="container">
        <div class="page-banner-content">
            <h2 class="page-title">{{name}}</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/paquetes">Paquete</a></li>
                <li class="breadcrumb-item active">Paquete {{name}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-padding-02">
    <div class="container">
        <div class="courses-details-wrapper">
            <div class="row">
                <div class="col-lg-8">
                    <div class="courses-details-images">
                        <img src="assets/images/courses/courses-details.jpg" alt="Courses Details">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class=" widget-information">
                        <div class="info-price">
                            <strong>Precio por consulta</strong>
                            <p>Primera vez</p>
                            <span class="price">${{paq.precio}}.00</span>
                            <p>Consulta subsecuente</p>
                            <span class="price">${{paq.precio - 100}}.00</span>
                        </div>
                        <hr>
                        <div class="info-price">
                            <strong>Precio por paquete (10 consultas)</strong>
                            <span class="price">${{(paq.precio * 10)-paq.precio}}.00</span>
                            <br>
                            <div class="info-list">
                                <span align="justify">Tiempo aproximado por sesión: {{paq.duracion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <div class="sidebar">
                        <div class="sidebar-widget widget-information">
                            <div class="info-price">
                                <span class="price">
                                    ¿Qué incluye?
                                </span>
                                <br>
                                <br>
                                <p align="justify" *ngFor="let desc of paq.descripcion">
                                    {{desc+"\n"}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <div class="sidebar">
                        <div class="sidebar-widget widget-information">
                            <div class="info-price">
                                <span class="price">
                                    <img src="assets/images/shape/shape-2.png"><br>
                                    Tienes otra duda?
                                </span>
                                <p>Consulta nuestra seccion de preguntas frecuentes</p>
                                <div class="info-btn">
                                    <a routerLink="/faq" class="btn btn-secondary btn-hover-primary">Preguntas frecuentes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>