<div class="slider-section slider-active section">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01 single-slider d-flex align-items-center" style="background-image: url(assets/images/slider/slider-1.jpg);">
                <div class="container">
                    <div class="">
                        <h6 class="sub-title">Nutrición integral</h6>
                        <h1 class="main-title">Vocación y pasión por la enseñanza de la nutrición integral.</h1>
                    </div>
                </div>
                <div class="slider-social">
                    <div class="container">
                        <div class="social-wrapper">
                            <p>Sígueme en mis redes:</p>
                            <ul class="social">
                                <li><a target="blank" href="https://www.facebook.com/joveat.mx/"><i
                                            class="icofont-facebook"></i></a></li>
                                <li><a target="blank" href="https://www.instagram.com/joveat.mx/"><i
                                            class="icofont-instagram"></i></a></li>
                                <li><a target="blank" href="https://www.linkedin.com/in/jovita-fernanda-soto-ram%C3%ADrez-7a281120a/"><i
                                            class="icofont-linkedin"></i></a></li>
                                <li><a target="blank" href="https://www.tiktok.com/@joveat.mx/"><i
                                            class="fab fa-tiktok"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-padding">
    <div class="container text-center">
        <h2 class="main-title">En JOVEAT ofrecemos asesoría nutricional</h2>
        <br />
        <h3 class="sub-title">Tenemos experiencia en:</h3>
        <br />
        <div class="features-wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="feature-icon">
                            <div class="feature-content">
                                <div class="content-wrapper">
                                    <span><i class="fas fa-weight"></i></span>
                                    <h3 class="main-title">Embarazo</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="feature-icon">
                            <div class="feature-content">
                                <div class="content-wrapper">
                                    <span><i class="fas fa-baby"></i></span>
                                    <h3 class="main-title">Obesidad</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="feature-icon">
                            <div class="feature-content">
                                <div class="content-wrapper">
                                    <span><i class="flaticon-computer"></i></span>
                                    <h3 class="main-title">Diabetes</h3>

                                    <h4 class="sub-title">Diabetes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-padding bg-grey overflow-hidden">
    <div class="container">
        <div class="about-wrapper">
            <div class="row align-items-center gx-xxl-5">
                <div class="col-lg-5">
                    <div class="about-images">
                        <img src="assets/images/shape/shape-2.png" alt="shape" class="shape">
                        <div class="images">
                            <img src="assets/images/about-1.jpg" alt="About">
                        </div>
                        <div class="about-btn">
                            <a href="acerca-de-mi.html" class="btn btn-primary btn-hover-secondary">Conoce
                                más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-content bg-white">
                        <img class="shape" src="assets/images/shape/shape-1.png" alt="shape">
                        <div class="content-wrapper">
                            <h3 class="main-title">Mi nombre es Jovita Fernanda Soto Ramírez</h3>
                            <p align="justify">Soy licenciada en nutrición, con especialidad diabetes, mi experiencia está encaminada a la nutrición clínica, englobando aspectos metabólicos, bioquímicos y socioculturales para la modificación de estilo de vida.
                            </p>
                            <p align="justify"> Mi consulta va más allá de energía, menús y restricciones calóricas, ofrezco herramientas para construir una relación sana y agradable con los alimentos a largo plazo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-padding-02 pd-bt-100">
    <div class="container">
        <div class="section-title">
            <h6 class="sub-title">Mantente informado</h6>
            <h2 class="main-title">Mis últimos artículos</h2>
        </div>
        <div class="blog-wrapper">
            <div class="row gx-xxl-5">
                <div *ngFor="let bl of blog" class="col-lg-4">
                    <a routerLink="/blog/{{bl.nombre}}">
                        <div class="single-blog" style="background-color:#FCD8B4; border-color: black;">
                            <div class="blog">
                                <div class="blog-date-meta">
                                    <span>
                                        <strong>{{bl.fecha[0]}}</strong>
                                        {{bl.fecha[1]}}
                                    </span>
                                    <div class="meta">
                                        <p class="author">Por: <a routerLink="/acerca-de-mi">Jovita Fernanda Soto
                                                Ramírez</a></p>
                                    </div>
                                </div>
                                <h4 class="title"><a routerLink="/blog/{{bl.nombre}}">{{bl.nombre}}</a></h4>
                                <p>Breve descripcion.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>