<div class="section st-img1">
    <div class="container">
        <div class="page-banner-content">
            <h2 class="page-title">Paquetes</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="inicio">Inicio</a></li>
                <li class="breadcrumb-item active">Paquetes</li>
            </ul>
        </div>
    </div>
</div>
<div class="section overflow-hidden">
    <div class="brand-wrapper">
        <img class="shape" src="assets/images/shape/shape-12.png" alt="Shape">
        <div class="section-title shape-none">
            <h2 class="main-title">Precios y Paquetes</h2>
            <br />
        </div>
        <div class="courses courses-wrapper-02">
            <!-- <div class="row gx-xxl-5">
                <div *ngFor="let paquete of paquetes" class="col-lg-4 col-sm-6">
                    <div class="single-courses">
                        <div class="courses-images">
                            <a><img routerLink="/paquete/{{paquete.nombre}}" src="assets/images/courses/courses-1.png" alt="courses"></a>
                        </div>
                        <div class="courses-content">
                            <div class="courses-price">
                                <span class="price">${{paquete.precio}}</span>
                            </div>
                            <div class="content-wrapper">
                                <h4 class="title"><a routerLink="/paquete/{{paquete.nombre}}">{{paquete.nombre}}</a></h4>
                                <ul class="meta">
                                    <li>{{paquete.duracion}}</li>
                                    <li>{{paquete.tipo}}</li>
                                </ul>
                                <ul class="meta">
                                    <li>{{paquete.dirigido}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="row justify-content-center">
                <div *ngFor="let paquete of paquetes" class=" admin-courses-tab-content col-lg-8">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                            <div routerLink="/paquete/{{paquete.nombre}}" class="courses-item align-content-center align-items-center">

                                <div class="item-thumb">
                                    <a>
                                        <img src="assets/images/courses/courses-1.png" alt="Courses">
                                    </a>
                                </div>
                                <div class="content-title">
                                    <h3 class="title"><a routerLink="/paquete/{{paquete.nombre}}">{{paquete.nombre}}</a>
                                    </h3>
                                    <br>
                                    <div class="meta">
                                        <a class="action">{{paquete.tipo}}</a>
                                        <a class="action">{{paquete.duracion}}</a>
                                    </div>
                                    <br>
                                    <h4 class="title">{{paquete.dirigido}} </h4>
                                </div>
                                <div class="content-wrapper text-center align-content-center">
                                    <div class="content-box text-center ">
                                        <span class="count">${{paquete.precio}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>