<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">

        <!-- Page banner Section Start -->
        <div class="page-banner-content">
            <h2 class="page-title">Acerca de mí</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item active">Acerca de mí</li>
            </ul>
        </div>
        <!-- Page banner Section End -->

    </div>
</div>
<!-- Page banner Section End -->

<!-- About Section Start -->
<div class="section section-padding overflow-hidden">
    <div class="container">

        <!-- About Wrapper Start -->
        <div class="about-wrapper">
            <div class="row align-items-center gx-xxl-5">
                <div class="col-lg-5">
                    <!-- About Images Start -->
                    <div class="about-images">
                        <img src="assets/images/shape/shape-2.png" alt="shape" class="shape">
                        <div class="images">
                            <img src="assets/images/about.jpg" alt="About">
                        </div>
                        <!-- <div class="about-btn"> -->
                            <!-- <a href="#" class="btn btn-primary btn-hover-secondary">Meet Instructor</a> -->
                        <!-- </div> -->
                    </div>
                    <!-- About Images End -->
                </div>
                <div class="col-lg-7">
                    <!-- About Content Start -->
                    <div class="about-content bg-grey">
                        <img class="shape" src="assets/images/shape/shape-1.png" alt="shape">
                        <div class="content-wrapper">
                            <h3 class="main-title">Mi nombre es Jovita Fernanda Soto Ramírez</h3>
                            <p align="justify">Soy licenciada en nutrición, con especialidad diabetes, mi experiencia está encaminada a la nutrición clínica, englobando aspectos metabólicos, bioquímicos y socioculturales para la modificación de estilo de vida.</p>
                            <p align="justify">Mi consulta va más allá de energía, menús y restricciones calóricas, ofrezco herramientas para construir una relación sana y agradable con los alimentos a largo plazo.</p>
                            <p align="justify">Egresada de la licenciatura de nutrición, por la Facultad de Nutrición, UAEM.
Certificada como educadora en diabetes por la FMD.
Mi filosofía es pensar es ser empática con coincide conmigo, veo a las personas que atiendo con el objetivo de que su vida tenga un mejor rumbo, gracias a las diferentes perspectivas y condiciones que se promueven en consulta.
</p>
                        <p align="justify"> La confianza que me brindan al poner su salud en mis manos, me compromete a ser responsable de su educación alimentaria a quienes acompaño en esta resignificación de alimentación nutritiva.</p>
                        </div>
                    </div>
                    <!-- About Content End -->
                </div>
            </div>
        </div>
        <!-- About Wrapper End -->

    </div>
</div>
<!-- About Section End -->

<!-- Our Mission & Vission Section Start -->
<div class="section section-padding bg-grey">
    <div class="container">

        <!-- Our Mission Wrapper Start -->
        <div class="our-mission-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <h4 class="sub-title">Misión</h4>
                        <p align="justify">Soy una nutrióloga con calidez, calidad y seguridad. Ofrezco asistencia personalizada a través de una cartera de servicios especializada teniendo como enfoque una terapéutica psiconutricional.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h4 class="sub-title">Visión</h4>
                        <p align="justify">Servicio de atención en salud de asesoramiento nutricional para la prevención, tratamiento y reducción de riesgos de enfermedades crónicas degenerativas. A través de la adquisición de conocimientos relacionados en materia de nutrición con el fin de la promoción de la actividad física, sensibilización al público en general hacia los problemas relacionados con la alimentación, reconocimiento de emociones… </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Mission Wrapper End -->

    </div>
</div>
<!-- Our Mission & Vission Section End -->