<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2 class="page-title">FAQ</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink='/inicio'>Inicio</a></li>
                <li class="breadcrumb-item active">FAQ</li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-padding">
    <div class="container">
        <div class="faq-wrapper">
            <div class="section-title">
                <img src="assets/images/shape/shape-2.png"><br>
                <h6 id="section-title" class="main-title">Preguntas y respuestas</h6>
                <br>
                <h6 class="sub-title">Encuentra facilmente preguntas y respuestas frecuentes</h6>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="faq-accordion">
                        <div class="accordion" id="accordionFaq">
                            <div *ngFor="let singlefaq of faqs; index as i;" class="accordion-item">
                                <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i">
                                    {{singlefaq.pregunta}}
                                </button>
                                <div [id]="'collapse'+i" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        {{singlefaq.respuesta}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-btn">
                        <a routerLink="/contacto" class="btn btn-primary btn-hover-secondary">Tienes otra pregunta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>