<div class="section page-banner-section" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2 class="page-title">FAQ</h2>

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">FAQ</li>
            </ul>
        </div>
    </div>
</div>
<div class="section section-padding">
    <div class="container">
        <div class="faq-wrapper">
            <div class="section-title">
                <h6 class="sub-title">Question And Answer</h6>
                <h2 class="main-title">Get easily answer your question</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="faq-accordion">
                        <div class="accordion" id="accordionFaq">
                            <div class="accordion-item">
                                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                    What phytochemicals inhibit mineral absorption?
                                </button>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                    What phytochemicals are considered antioxidants?
                                </button>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                    Are phytochemicals and phytosterols the same thing?
                                </button>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                    Do blueberries have phytochemicals?
                                </button>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                    Are collards a good source of phytochemicals?
                                </button>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                    <div class="accordion-body">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>

                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type scrambled it to make
                                            a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="faq-btn">
                        <a href="#" class="btn btn-primary btn-hover-secondary">Other’s Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>